@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,600&display=swap');

body {
    margin: 0;
    color: white;
    background-color: #000;
}

.nav {
    background-color: black;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    padding: 20px;
    height: 60px;
    left: 0;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease;
}

.nav_logo {
    width: 100px;
    object-fit: contain;
}

.navbar__links {
    display: flex;
    gap: 20px;
}

.navbar__links a {
    color: white;
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}

.navbar__links a:hover {
    color: #e50914;
    /* Netflix red color */
}

.navbar__search {
    color: white;
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    margin-left: 20px;
}

.navbar__notification {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.user {
    width: 40px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .navbar__links {
        display: none;
    }
}